@font-face {
  font-family: "Coolvetica";
  src: url("./files/coolvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Condensed";
  src: url("./files/coolvetica-condensed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Crammed";
  src: url("./files/coolvetica-crammed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Heavy Compressed";
  src: url("./files/coolvetica-heavy-compressed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("./files/berkeley-mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
